@font-face 
{
    font-family: 'Raleway' ;
    src: url('Projet 2 - Reservia/Polices/Raleway-Italic-VariableFont_wght.ttf') ;
    src: url('Projet 2 - Reservia/Polices/Raleway-VariableFont_wght.ttf') ;
    font-weight: normal;
    font-style: normal;

}

body
{
    font-family: 'Raleway';
    font-size: 0.7em;
}
#bloc_page
{
    width: 1200px;
    margin: auto;
}

h2
{
    font-weight: bold;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
nav ul
{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

nav li
{
    margin-right: 50px;
}

nav a
{
    font-size: 1.3em;
    text-decoration: none;
    color: black;
}

#inscrire
{
    font-weight: bold;
    color:blue
}
nav a:hover
{
    color: #0065FC;
    font-weight: bold ;
    border-top: 2px #0065FC solid;
}

#Logo img
{
    display: flex;
    width: 100px;
}


#Pointer
{
    width: 30px;
    height: 30px;
}

#Search
{
    display: flex;
}
#info
{
    width: 10px;
    height: 10px;
}
#Filtres
{
    display: flex;
    flex-direction: row;
    text-align: center;
    vertical-align: middle;
    
}
#dog, #bill, #child, #heart
{
    height: 10px;
}
#Filtres ul
{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

#Filtres li
{
    margin-right: 30px;
    
}
#hebergements
{
    background-color: #F2F2F2;;
}

#populaire
{
    background-color: #F2F2F2;
}

#vignetteH img
{
    width : 200px;
    height: auto;
}

#vignetteP img
{
    height : 100px
}

footer
{
    width: 1300px;
    margin: auto;
    background-color:#F2F2F2 ;
}
